# Node Files

node_modules/
package-lock.json

# Build Files

dist
out
build
coverage
lib

# Server Files

target
dependency-reduced-pom.xml

# Idea Files

.idea/workspace.xml

# Mac Files

.DS_Store

.nyc_output/