.background-image {
    background-image: url("../images/randy-fath-G1yhU1Ej-9A-unsplash.jpg");
    position: fixed;

    left: 0;
    right: 0;
    z-index: -1;

    filter: blur(5px);

    display: block;
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-image {
    background-image: url("../images/homeBackground.jpg");
    position: fixed;

    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.profile-image {
    background-image: url("../images/jeshoots-com-fzOITuS1DIQ-unsplash.jpg");
    position: fixed;

    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}